
:root {
  --statusbar-height: env(safe-area-inset-top);
  --control-buttons-height: env(safe-area-inset-bottom);
  --main-color: #0aa679;
  --html-background-dark: linear-gradient(to bottom, #075c44 50%, black 50%);
  --html-background-light: linear-gradient(to bottom, #0aa679 50%, white 50%);
  --background-dark: black;
  --background-light: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--html-background-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--html-background-light);
  }
}

html,
html body {
  background: var(--background);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  padding-top: var(--statusbar-height);
  padding-bottom: var(--control-buttons-height);
}

#root {
  max-width: 500px;
  height: 100%;
  margin: auto;
  background-color: white;
  position: relative;
}

@media screen and (max-width: 425px) {
  #root {
    border: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}